<%- include('partials/header'); %>

<h1>What color is the sky on a clear day?</h1>
    <form action="/result" method="POST">
        <input id="inputdData" type="text" name="color">
        <button>Submit Answer</button>
    </form>
<!-- <p>${req.isRaining ? 'It is Raining' : 'It stopped raining Welcome!'}</p> -->

<%- include('partials/footer'); %>